
body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
h1 {
  color: #9799a7;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}
figure {
  margin: 0 0 24px 0;
}
.figure-75 {
  width: 75%;
}
.figure-50 {
  margin-bottom: 0;
  width: 50%;
}
img {
  display: block;
  max-width: 100%;
}

