.size-80
{
    width: 80px;
}

.size-100
{
    width: 100px;
}
.size-120
{
    width: 120px;
}
.size-125
{
    width: 125px;
}
.size-130
{
    width: 130px;
}
.size-140
{
    width: 140px;
}
.size-150
{
    width: 150px;
}
.size-160
{
    width: 160px;
}
.size-170
{
    width: 170px;
}
.size-200
{
    width: 200px;
}
.size-50
{
    width: 50px;
}

.fl
{
    float: left;
}
.fr
{
    float: right;
}
.fi
{
    float: inherit;
}


.button
{
    display: inline-block;
    line-height: 16px;
    border-width: 0px;
    font-size: 12px;
    font-family: arial;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    background: url(    '../Images/button_glas1.png' ) center center repeat-x #333333;
    padding: 3px 13px 3px 13px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -border-radius: 3px 3px 3px 3px;
    text-align: center;
}
.lbutton
{
    display: inline-block;
    line-height: 16px;
    border-width: 0px;
    font-family: arial;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    background: url(  '../Images/button_glas1.png' ) center center repeat-x #333333;
    padding: 3px 13px 3px 13px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -border-radius: 3px 3px 3px 3px;
    text-align: center;
    margin-left: 155px;
}

.lbutton.green
{
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

.lbutton.red
{
    background-color: #D80017;
    background: -webkit-gradient(linear, left top, left bottom, from(#D80017), to(#D80017));
    background: -webkit-linear-gradient(top, #D80017, #D80017);
    background: -moz-linear-gradient(top, #D80017, #D80017);
    background: -ms-linear-gradient(top, #D80017, #D80017);
    background: -o-linear-gradient(top, #D80017, #D80017);
    background: linear-gradient(top, #D80017, #D80017);
    border: 1px solid #D80017;
    border-bottom: 1px solid #D80017;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
.lbutton:hover
{
    opacity: .85;
    cursor: pointer;
}

lbutton:active
{
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}

.button:hover
{
    color: #FFFFFF;
    text-decoration: none;
}
.button.green
{
    background-color: green;
}
.button.red
{
    background-color: #D80017;
}
.button.blue
{
    background-color: #00A5C4;
}
.button.grey
{
    background-color: #BBBBBB;
}

/**************
**** tables ***
**************/



table.style2
{
    border: 5px solid #DDDDDD;
    margin: 0px;
    width: 365px;
}
table.style2 caption
{
    background: none #959595;
    color: #FFFFFF;
    font-size: 14px;
    padding: 5px 11px 5px 11px;
    text-align: left;
}


table.style2 tr:hover
{
    background: url(    '../Images/bck_black_10.png' );
}


table.style2 th
{
    background: #2B547E;
    border-bottom: 1px solid #FFFFFF;
    line-height: 22px;
    padding: 4px 6px 4px 6px;
    color: #333333;
    white-space: nowrap;
    text-align:center;
    font-family: Georgia, Times, "Times New Roman" , serif;
	font-size: large;
}


table.style2 thead th
{
    padding-top: 2px;
}

table.style2 thead td
{
    background: #DDDDDD;
    border-bottom: 0px solid #FFFFFF;
    text-align: left;
    line-height: 22px;
    white-space: nowrap;
}

table.style2 tbody th, table.style2 tbody .title
{
    background: url(    '../Images/bck_black_5.png' );
    font-weight: bold;
    white-space: nowrap;
    color: #666666;
    font-family: Georgia, Times, "Times New Roman" , serif;
	
}

table.style2 tbody td
{
    text-align: left;
    line-height: 22px;
    white-space: nowrap;
    font-family: Georgia, Times, "Times New Roman" , serif;
}

table.style2 td
{
    background: url(    '../Images/bck_white_75.png' );
    border-bottom: 1px solid #DDDDDD;
    line-height: 22px;
    font-family: Georgia, Times, "Times New Roman" , serif;
}

table.style2 .icon16
{
    margin-top: 3px;
    margin-bottom: 3px;
}
table.style2 td.vcenter
{
    vertical-align: middle;
}
table.style2 td p
{
    padding-bottom: 3px;
    padding-top: 3px;
}
table .vcenter
{
    vertical-align: middle;
}
table .full
{
    width: 100%;
}
table .value
{
    color: #47AB00;
}
table .nowrap
{
    white-space: nowrap;
}

.p
{
    color: White;
}

.highlight
{
    text-decoration: none;
    color: black;
    background: yellow;
}


/**************
**** tables 3***
**************/


